rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isDataOwner(resourceId) {
        return resource.data.userId == resourceId
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Users can only manage their own profile. Admins can read user profiles.
    match /users/{userId} {
      allow read: if isSignedIn() && (isOwner(userId) || isAdmin());
      allow write: if isSignedIn() && isOwner(userId);
    }

    // Products can be read by anyone, but only managed by admins.
    match /products/{productId} {
      allow read: if true;
      allow write: if isSignedIn() && isAdmin();
    }
    
    // Users can only manage their own cart items.
    match /carts/{userId}/items/{productId} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }

    // Orders can be created by any signed-in user.
    // They can be read by the user who created the order or by an admin.
    // Only admins can update the order status.
    match /orders/{orderId} {
      allow read: if isSignedIn() && (isDataOwner(request.auth.uid) || isAdmin());
      allow create: if isSignedIn();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if false; // Orders should probably not be deleted
    }

    // Logs can be created by any signed-in user. They cannot be read, updated or deleted.
    match /logs/{logId} {
      allow read, update, delete: if false;
      allow create: if isSignedIn();
    }
  }
}
